<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
        <link rel="stylesheet" href="../../CSS/categorias/categorias.css">
        <script src="https://kit.fontawesome.com/ecb11d8dff.js" crossorigin="anonymous"></script>
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400&display=swap');
          </style>
    </head>
    <body>
        <header>
            <div class="contact">
               <div class="call">
                <i class="fa-solid fa-phone"></i>
                <div  class="contact-number"> +507 6532-2336</div>
            </div>
    
            <div class="oferta"> Get 50% Off on Selected Items  |  Shop Now
            </div>
    
            <div class="location">Location</div>
            </div>
    
            <div class="navbar">
                <div class="section-1">
                    <li class="lista"><a href="../../HTML/main.html"><img src="../../img/logo.png" alt="100px" class="logo"></a></li>
    
                <div>
                    <a href="#">
                    <li class="lista"><a href="#">Category</a><i class="fa-solid fa-angle-down"></i>
                    <ul class="menu-desplegable">
                        <li><a href="#">Furniture</a></li>
                        <li><a href="#">Clothes</a></li>
                        <li><a href="#">tech</a></li>
                        <li><a href="#">sneakers</a></li>
                        <li><a href="#">travel</a></li>
                    </ul>
                    </li>
                </a>
                </div>
    
                <div>
                    <li class="lista"><a href="#">Deal</a>s</li>
                </div>
                    
                </div>
                
              
                <div class="search">
                    <input type="text" placeholder="Search Product">
                    <i class="fa-solid fa-magnifying-glass" ></i>
                </div>
    
                <div class="section-2">
                    <div>
                        <li class="lista"><i class="fa-regular fa-user"></i></i><a href="../HTML/login.html">Account</a></li>
                    </div>
                    <div>
                        <li class="lista"><i class="fa-solid fa-cart-plus"></i><a href="../car.html">Cart</a></li>
        
                    </div>
    
                </div>
                
               
            </div>
        </header>
            
        <div class="container">
            <div class="categorias-disponibles">
                <h2>Categorias disponibles</h2>
                <div class="list"> 
                    <a href="../categorias/categorias.html"><p>All</p> </a><p>6</p>
                </div>
                <div class="list"> 
                    <a href="../categorias/tecnologia.html"><p>Tecnologia</p> </a><p>2</p>
                </div>
                <div class="list"> 
                    <a href="../categorias/ropa.html"><p>Ropa</p> </a><p>1</p>
                </div>
                <div class="list"> 
                    <a href="../categorias/viajes.html"><p>Viajes</p> </a><p>1</p>
                </div>
                <div class="list"> 
                    <a href="../categorias/muebles.html"><p>Muebles</p> </a><p>1</p>
                </div>
                <div class="list"> 
                    <a href="../categorias/Libros.html"><p>Libros</p> </a><p>1</p>
                </div>
                <div class="list"> 
                    <a href="../categorias/zapatilla.html"><p>Zapatillas</p> </a><p>1</p>
                </div>
            </div>

            <div class="cuadro-productos">
                <div class="name-categoria">
                    <h1>Travel</h1>
                </div>
                <div class="productos">
                    <div class="cards">

                        <div class="card-deals">
                            <div class="back-image">
                                <img src="../../img/maletica.png" alt="" style="height: 220px; width: 200px;">
                            </div>
                            <div class="name-price">
                               <a href="../productos/maleta.html"><p class="texto" id="">Maleta de viaje azul</p></a> 
                                <p class="texto" id="">$ 13.00</p>
                            </div>
                            <div class="description">
                                <p>El equipaje de mano esta probado para ajustar en contenedores de aerolíneas nacionales y con mayor capacidad de embalaje</p>
                            </div>
                            <div class="ranking">
                                <i class="fa-solid fa-star"  style="color:#00a62e"></i>
                                <i class="fa-solid fa-star"  style="color:#00a62e"></i>
                                <i class="fa-solid fa-star"  style="color:#00a62e"></i>
                                <i class="fa-solid fa-star"  style="color:#00a62e"></i>
                                <i class="fa-solid fa-star"  style="color:#00a62e"></i>
                            </div>
                            <button>Add to cart</button>
                        </div>

                
                    </div>
                    
                </div>

            </div>
        </div>
        <footer class="pie-pagina">
            <div class="grupo-1">
                <div class="box">
                    <figure>
                        <a href="#">
                            <img src="../img/logo.png" alt="Logo de SLee Dw">
                        </a>
                    </figure>
                </div>
                <div class="box">
                    <h2>SOBRE NOSOTROS</h2>
                    <p>E-commerce para semestral</p>
                    <p>Empresa confiable, segura y muy eficiente (profe ponganos 100)</p>
                </div>
                <div class="box">
                    <h2>SIGUENOS</h2>
                    <div class="red-social">
                        <a href="https://www.youtube.com/channel/UC6z-Z_AX2HGETveejxS3XiA/videos" class="fa-brands fa-youtube"></a>
                        
                        <a href="https://www.instagram.com/c.orlandoalexis/" class="fa-brands fa-instagram"></a>
                        <a href="https://twitter.com/orlando39321244" class="fa-brands fa-twitter"></a>
                        <a href="https://www.linkedin.com/in/orlando-camargo-69ab82246/" class="fa-brands fa-linkedin"></a>
                        <a href="https://github.com/OrlandoAlexis16" class="fa-brands fa-github"></a>
    
                        <h2>PAGO</h2>
                        <img src="../../img/paypal-logo-4.png" alt="" style="width: 340px; height: 80px;">
                    </div>
                </div>
            </div>
            <div class="grupo-2">
                <small>&copy; 2023 <b>MCE</b> - Todos los Derechos Reservados. (mentira :v)</small>
            </div>
          </footer>
    </body>
</html>