body {
  margin: 0;
  padding: 0;
  font-family: Eina02, sans-serif;
  color: #000000;
  background-color: #e9e9e9;
  font-size: 14px;
  line-height: 20px;
}

:root {
  --morado-banner: #340c8b;
  --morado-fondo: #2f2751;
  --amarillo: #e0ca00;
  --morado-claro: #5202ff;
}

.contact {
  display: flex;
  background-color: var(--morado-fondo);
  color: #fff;
  justify-content: space-between;
  padding: 5px;
  padding-left: 30px;
  padding-right: 30px;
}

.call {
  display: flex;
  justify-content: spaceggf-between;
}

.call i {
  padding-right: 10px;
}

.navbar {
  display: flex;
  align-items: center;
  background-color: rgb(255, 255, 255);
  justify-content: space-around;
}

.navbar ul {
  background: #f1f2fa;
  border-radius: 5px;
  font-size: 15px;
  padding: 10px;
}

.navbar li ul {
  position: absolute;
  display: none;
}

.navbar li:hover>ul {
  display: block;
}

.section-1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: -10px;
}

.section-2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: -260px;
}

.lista {
  display: inline-block;
  padding: 0px;
  font-size: 17px;
  padding-left: 50px;
}

.lista a:hover {
  color: blueviolet;
  transition: 3sms;
}

.lista:hover {
  color: blueviolet;
  transition: 3sms;
}

ul {
  list-style: none;
}

.logo {
  height: 60px;
  width: 100px;
}

.lista a {
  color: black;
  text-decoration: none;
  margin-left: 5px;
}

.search input {
  border-radius: 50px;
  width: 370px;
  height: 35px;
  margin-left: -109px;
  border-color: #bdbdbd;
}

.search i {
  margin-left: -25px;
  color: #bdbdbd;
}


.container {
  height: auto;
  width: auto;
  display: flex;
  justify-content: center;
  padding: 20px;
}

.empty {
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

.carrito {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 0 2rem;
}

.carrito h1 {
  flex-grow: 1;
  text-align: center;
}

.checkout:hover {
  cursor: pointer;
}

.product {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #bebebe;
  padding: 1rem 0;
}

.product-img {
  max-height: 100px;
}

.product-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 10px;
}

.product-name {
  font-weight: bold;
  margin-bottom: 0.6rem;
}

.product-price {
  margin-top: 0;
  margin-bottom: 1rem;
}

.product-desc {
  margin-top: 0;
}

.product button {
  border: none;
  background: none;
  align-self: flex-start;
  margin-top: 2rem;
}

.product button:hover {
  cursor: pointer;
}

.pagar {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  height: 50%;
  width: 30%;
  padding: 20px;
  margin-left: 1rem;
  border-radius: 10px;

}

.pagar .price {
  display: flex;
  padding-top: -20px;
}

.pagar button {
  border: none;
  height: 40px;
  width: 170px;
  border-radius: 20px;
  font-size: 15px;
  background-color: var(--amarillo);
  color: var(--morado-fondo);
  font-weight: bold;
  transition: background-color .3s ease-in-out;

}

.pagar button:hover {
  background-color: var(--morado-banner);
  color: #fff;
  transition: background-color .3s ease-in-out;
}

.pie-pagina {
  width: 100%;
  background-color: #ffffff;

}

.pie-pagina .grupo-1 {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding: 45px 0px;
}

.pie-pagina .grupo-1 .box figure {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pie-pagina .grupo-1 .box figure img {
  width: 250px;
}

.pie-pagina .grupo-1 .box h2 {
  color: #000000;
  margin-bottom: 25px;
  font-size: 20px;
}

.pie-pagina .grupo-1 .box p {
  color: #000000;
  margin-bottom: 10px;
}

.pie-pagina .grupo-1 .red-social a {
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: #030303;
  margin-right: 10px;
  background-color: #ffffff;
  text-align: center;
  transition: all 300ms ease;
}

.pie-pagina .grupo-1 .red-social a:hover {
  color: var(--morado-banner)
}

.pie-pagina .grupo-2 {
  background-color: #f1f2fa;
  padding: 15px 10px;
  text-align: center;
  color: #000000;
}

.pie-pagina .grupo-2 small {
  font-size: 15px;
}

.pie-pagina .grupo-1 .red-social a {
  font-size: 20px;
}