    <header>
      <div class="navbar">
        <div class="section-1">
          <li class="lista"><a href="/"><img src="/img/logo.png" alt="100px" class="logo"></a>
          </li>
          <div>
            <a href="#">
              <li class="lista"><a class="mr" href="/categories">Categories</a><i class="fa-solid fa-angle-down"></i>
                <ul class="menu-desplegable">
                  <li><a href="#">Furniture</a></li>
                  <li><a href="#">Clothes</a></li>
                  <li><a href="#">tech</a></li>
                  <li><a href="#">sneakers</a></li>
                  <li><a href="#">travel</a></li>
                </ul>
              </li>
            </a>
          </div>
        </div>
        <div class="section-2">
          <% if (locals.session) { %>
          <div>   
            <li class="lista mr"><%= session.username %></li>
          </div>
          <div>
            <a href="/cart">
              <li class="lista"><a class="mr" href="/cart">Cart</a><i class="fa-solid fa-cart-shopping"></i></li>
            </a>
          </div>
          <div>
            <a href="/logout">
              <li class="lista"><a class="mr" href="/logout">Logout</a><i class="fa-solid fa-right-to-bracket"></i></li>
            </a>
          </div>
          <% } else { %>
          <div>
            <li class="lista"><a class="mr" href="/login">Iniciar sesión</a><i class="fa-solid fa-right-to-bracket"></i></li>
          </div>
          <div>
            <li class="lista"><a class="mr" href="/cart">Registrarse</a><i class="fa-solid fa-plus"></i></li>
          </div>
          <% } %>
        </div>
      </div>
    </header>