    <header>
      <div class="navbar">
        <div class="section-1">
          <li class="lista"><a href="/"><img src="/img/logo.png" alt="100px" class="logo"></a>
          </li>
          <div>
            <a href="#">
              <li class="lista"><a href="/categories">Categories</a><i class="fa-solid fa-angle-down"></i>
                <ul class="menu-desplegable">
                  <li><a href="#">Furniture</a></li>
                  <li><a href="#">Clothes</a></li>
                  <li><a href="#">tech</a></li>
                  <li><a href="#">sneakers</a></li>
                  <li><a href="#">travel</a></li>
                </ul>
              </li>
            </a>
          </div>
        </div>
        <div class="search">
          <input type="text" placeholder="Search Product">
          <i class="fa-solid fa-magnifying-glass"></i>
        </div>
        <div class="section-2">
          <div>
            <li class="lista"><i class="fa-regular fa-user"></i></i><a href="/login">Account</a></li>
          </div>
          <div>
            <li class="lista"><i class="fa-solid fa-cart-plus"></i><a href="/cart">Cart</a></li>
          </div>
        </div>
      </div>
    </header>