body {
    font-family: Eina02, sans-serif;
    color: #000000;
    background-color: #e9e9e9;
    font-size: 14px;
    line-height: 20px;
    margin: 0;
    padding: 0;
}

:root{
    --morado-banner: #340c8b;
    --morado-fondo: #2f2751;
    --amarillo: #e0ca00;
    --morado-claro: #5202ff;
}
.contact{
    display: flex;
    background-color: var(--morado-fondo);
    color: #fff;
    justify-content: space-between;
    padding: 5px;
    padding-left: 30px;
    padding-right: 30px;
}

.call{
    display: flex;
    justify-content: spaceggf-between;
}

.call i{
    padding-right: 10px ;
}

.navbar{
    display: flex;
    align-items: center;
    background-color: rgb(255, 255, 255);
    justify-content: space-around;
}

.navbar ul{
background: #f1f2fa;
border-radius: 5px;
font-size: 15px;
padding: 10px;
}

.navbar li ul  {
    position: absolute;
    display: none;
}

.navbar li:hover > ul{
    display: block;
}

.section-1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: -10px;
}

.section-2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: -260px;
}

.lista{
    display: inline-block;
    padding: 0px;
    font-size: 17px;
    padding-left: 50px;
}

.lista a:hover{
    color: blueviolet;
    transition: 3sms;
}
.lista:hover{
    color: blueviolet;
    transition: 3sms;
}

ul{
    list-style: none;
}
.logo{
    height: 60px;
    width: 100px;
}

.lista a{
    color: black;
    text-decoration: none;
    margin-left: 5px;
}

.search input{
    border-radius: 50px;
    width: 370px;
    height: 35px;
    margin-left: -109px;
    border-color: #bdbdbd;
}

.search i {
    margin-left: -25px;
    color: #bdbdbd;
}



.container{
    display: flex;
    padding: 20px;
    
}

.categorias-disponibles{
    display: flex;
    flex-direction: column;

    background-color: #fff;
    border-radius: 10px;
    box-shadow: 5px 5px 5px gray;
    padding-right: 15px;
    height: 390px;
}
.categorias-disponibles h2{
    padding-left: 10px;

}
.list{
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
}

.list a{
    color: #8f8f8f;
    text-decoration: none;}

.list a:hover{
    color: var(--morado-banner);
}

.cuadro-productos{
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}

.productos{
    background-color: #fff;
    height: 100%;
    width: 160vh;
    border-radius: 10px;
    box-shadow: 5px 5px 15px gray;
    flex-flow:wrap ;
    padding-bottom: 2%;

}

.cards{
    display: flex;
    justify-content: start;
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;
    width: auto;
   
   
}

.back-image{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f3f3f3;
    border-radius: 5px;
    height: 250px;
    width: 320px;
}
.card-deals{
    display: flex;
    flex-direction: column;
    width: 280px;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: -15px;
    margin-top: 40px;
}

.name-price{
    display: flex;
    justify-content: space-between;
    height: 40px;
    width: 300px;

}

.name-price p{
    font-size: 20px;
    font-weight: 600;
}

.name-price a{
    list-style: none;
    text-decoration: none;
    color: #000000;


}

.name-price a:hover{
    color: #004915;
    text-decoration:underline;
}

.card-deals button{
    border-radius: 20px;
    width: 100px;
    height: 40px;
    border-color: #000000;
    background-color: #fff;
    font-size: 14px;
    transition: background-color .3s ease-in-out;

}

.card-deals button:hover{
    background-color: #004915;
    border-color:#004915;
    color: #fff;
    transition: background-color .3s ease-in-out;

}

.description p{
    width: 300px;
}

.ranking{
    height: 40px;

}

.pie-pagina{
    width: 100%;
    background-color: #ffffff;

  }
  .pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
  }
  .pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .pie-pagina .grupo-1 .box figure img{
    width: 250px;
  }
  .pie-pagina .grupo-1 .box h2{
    color: #000000;
    margin-bottom: 25px;
    font-size: 20px;
  }
  .pie-pagina .grupo-1 .box p{
    color: #000000;
    margin-bottom: 10px;
  }
  .pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #030303;
    margin-right: 10px;
    background-color: #ffffff;
    text-align: center;
    transition: all 300ms ease;
  }
  .pie-pagina .grupo-1 .red-social a:hover{
    color: var(--morado-banner)
  }
  .pie-pagina .grupo-2{
    background-color: #f1f2fa;
    padding: 15px 10px;
    text-align: center;
    color: #000000;
  }
  .pie-pagina .grupo-2 small{
    font-size: 15px;
  }

  .pie-pagina .grupo-1 .red-social a{
   font-size: 20px;
  }